@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kaushan+Script&family=League+Spartan:wght@100..900&family=Madimi+One&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: spartan, sans-serif;
}
.player-container {
    height: 500px;
    width: 400px;
    background: #e8e2e2;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}
/* controls */
.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}
.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin-right: 30px;
}

.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    /* margin-left: 20px; */
}
/* styling of img element */
.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5)
    ;
  
}
h2 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0;

}

/* pogress */
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress{
    background: #242323;
    border-radius: 5px;
    height: 100%;  
    width: 0%;
    transition: width 0.1s liner;
}

.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

/* controls */
.player-controls {
    position: relative;
    top: -50px;
    left: 110px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin: 30px;
    cursor: pointer;
    user-select: none;
}
.fas:hover {
    filter: brightness(90%);
}

.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}

/* media query: iphone (vertical) */
@media screen and (max-width: 376px) {
    .player-container {
        width: 95vw;
    }

    .img-container {
    left: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

.player-controls {
    top: -10px;
    left: 100px;
}

}









